body{
    background-color:antiquewhite ;
}

hr{
    width: 85%;
}

.outer{
    height: 1550px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 270px;
    }

.img{
    width: 600px;
    height: 300px;
    background-image: url(image-omelette.jpeg);
    background-size: cover;
    border-radius: 20px;
    position: relative;
    top: 50px;
    left: 50px;
}  

h1{
    position: absolute;
    top: 360px;
    left: 50px;
}
#intro{
    height: 200px;
    width: 600px;
    position: relative;
    top: 130px;
    left: 50px;
    overflow: hidden;
    font-size: 13px;
    font-family: sans-serif;
}

.time{
    background-color: hsl(330, 100%, 98%);
    height: 150px;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    left: 50px;
}

.time > ul{
    
    color: hsl(30, 10%, 34%);
    line-height: 1.8;
}

.time > h3{
    margin: 23px;
    color: hsl(332, 51%, 32%);
}

.ingredients{
    position: relative;
    left: 50px;
}

.ingredients > h2{
    color: hsl(14, 45%, 36%);
    margin: 10px; 
}

.ingredients > ul{
    
    color: hsl(30, 10%, 34%);
    line-height: 1.8;
}

.instruction{
    width: 600px;
    position: relative;
    left: 50px;
}

.instruction > h2{
    color: hsl(14, 45%, 36%);
    margin: 10px;
}

.instruction > ol{
    
    color: hsl(30, 10%, 34%);
    line-height: 1.8;
}

.instruction > li{
    color: hsl(14, 45%, 36%);
}

.nutrition{
    width: 600px;
    position: relative;
    left: 50px;
}

.nutrition > h2{
    
    color: hsl(14, 45%, 36%);
    line-height: 1.8;
}

table{
    width: 100%;
}

.nutrition > p,td{
    color: hsl(30, 10%, 34%);
}

.info{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
